# Input .par file with information for each particle projection
ParFile                       EXPERIMENT

# Working folder
WorkingFolder                 .
					
# Number of iterations for the global procedure
NumberOfIterations            ITERATIONS

# Select the variables to refine
RefineMicrographTiltAngles    1
RefineMicrographTiltAxisAngles 1
RefineParticlesTheta          1
RefineParticlesPsi            1
RefineParticlesPhi            1

# Tolerance (feasible region) for each variable
ToleranceMicrographTiltAngles 3
ToleranceMicrographTiltAxisAngles  3
ToleranceParticlesTheta       3
ToleranceParticlesPsi         3
ToleranceParticlesPhi         3

# Optimizer configuration. A negative value sets the default values
# for the optimizer.
#
# Maximum number of iteration for the optimizer
OptimizerMaxIter    	      1
#
# Tolerances
OptimizerValueTolerance	      -1e-3
OptimizerStepTolerance	      -0.1
#
# Step length
OptimizerStepLength           -10

# Debug info to display
DebugBasic                    1
DebugInfo                     0
DebugData                     0
DebugFull                     0
DebugNone                     0

# Frealing configuration.
#
# Save the matches images for debugging.
SaveMatchesMRC                0

# Number of available threads
NumberOfThreads               1
